/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/components/ui/Navbar.css */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 100;
}

.nav-link {
  margin-right: 1.5rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #8b5cf6; /* Couleur violette au survol */
}

.text-purple-500 {
  color: #8b5cf6; /* Couleur violette pour le lien actif */
} 
/* Styles de base */
.portfolio {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  color: #1f2937;
  overflow-x: hidden;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  background: linear-gradient(45deg, #151516, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  border-radius: 3px;
}


/* Animations */
@keyframes textGlow {
  from {
    text-shadow: 0 0 10px rgba(139, 92, 246, 0.5);
  }
  to {
    text-shadow: 0 0 20px rgba(139, 92, 246, 0.8), 
                 0 0 30px rgba(236, 72, 153, 0.5);
  }
}

/* Effets de survol */
.service-card:hover {
  transform: translateY(-10px) !important;
}

.service-card:hover .service-overlay {
  opacity: 1 !important;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .project-overlay {
  opacity: 1;
}
.cv-button-hover {
  background: #856dbe; /* Couleur violette au survol */
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(139, 92, 246, 0.3);
}


.floating-button:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 10px 25px rgba(139, 92, 246, 0.4);
}

/* Responsive */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
    background: linear-gradient(45deg, #151516, #ec4899);
    margin-bottom: 3rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  
  }
  
  .about-section > div {
    flex-direction: column;
    gap: 2rem;
  }

  .services-section {
    flex-direction: column;
  }

  
}
